<h1>DaDaEdu</h1>
<h3>Welcome!</h3>
<md-tab-group>
    <md-tab>
        <template md-tab-label>One</template>
        <template md-tab-content>
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab One</h1>
                <p>oosfjakwlnfajflwefpqjfnasjnafswf.</p>
            </md-content>
        </template>
    </md-tab>
    <md-tab>
        <template md-tab-label>Two</template>
        <template md-tab-content>
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Two</h1>
                <p>wear new pigs.</p>
            </md-content>
        </template>
    </md-tab>
    <md-tab>
        <template md-tab-label>Three</template>
        <template md-tab-content>
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus.</p>
            </md-content>
        </template>
    </md-tab>
</md-tab-group>